@{ 
    ViewBag.title = "Items Page";
}

<div>
    <h1>Welcome to Items page hi</h1>
</div>

@section Scripts{
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            setTimeout(() => {
                alert("Script loaded")
            }, 3000)

        })

    </script>
}
