@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome</h1>
        <p><a href="/Task/Add" class="btn btn-primary btn-md">Add Task &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <table id="tblTask">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Description</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>1</td>
                        <td>MyTask</td>
                        <td>11-07-1992</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</main>